<html lang="en">
  <head>  
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Assignment_A5</title>
  </head>
  <body>
   <br>  
   <h1>List of items</h1>
    
     <br>
     <br>
     <br>

      {% for item in items.keys() %}
      <div>
           {{
           item
          }} 
      
         &emsp;
      
        <label class="switch">
          <input type="checkbox" id="togBtn">
          <div class="slider round">
           <!--ADDED HTML -->
            <span class="on">ON</span>
            <span class="off">OFF</span>
           <!--END-->
          </div>
         </label>
       </div>
        <br>
        <br>
     
       {% endfor%}
 </body>
 <body>

<br>

</script>
</body>


<body>
          
      <button onclick="getElementById('demo').innerHTML={{item}}">Show Checked items</button>

      <p id="demo"></p>

</body>
<br>
<body>
          
      <button onclick="getElementById('demo').innerHTML=Date()">Show Unchecked items</button>

      <p id="demo"></p>

</body>

<body>

<input id="myInput" value="Enter Some item">
<button id="myBtn" onclick="javascript:alert('The status is'{{items[1]}})">Show the status</button>

<br>
<br>
<input id="myInput" value="Enter Some item">
<button id="myBtn" onclick="javascript:alert('The status is'{{items[1]}})">show the status</button>


</body>
<br>
<br>
<body>

  <select id={{items.keys()}} name={{items.keys()}}>
    <option value="Select">Select</option>
    <option value="Elnaz">Elnaz</option>
    <option value="Hamed">Hamed</option>
    <option value="Parastoo">Parastoo</option>
    <option value="Elmira">Elmira</option>
    <option value="Mostafa">Mostafa</option>
  </select>
<br>
  <button id="myBtn" onclick="javascript:alert('Hello World!')">Show the Status</button>
<button id="myBtn" onclick="javascript:alert('Hello World!')">Change the Status</button>
</form>

</body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
  <style>
      body{
              background-color: #87CEEB;
              color: black
              
          }
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

 .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}
  </style>
</html>